#banner
  .banner_content
    %h1 Notebooked
    %p Bring your notes with you everywhere!
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The only note taking application you'll ever need!"
    %p.name - Some Dude

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Fast
        %p Not weighed down with a bunch of bloat. Just text. 
      .callout
        %h2 Efficient
        %p Launch the app. Log in. Bam! Your notes are right there.
      .callout
        %h2 Minimal
        %p No flare. No integrations. Just notes. Who needs flare when just need to jot something down?

#bottom_cta
  .wrapper
    %h2 Most awesome dude
    %p Go on. Sign up. You know you want to.
    %button= link_to "Sign up here", new_user_registration_path

%footer
  %p &copy; Mark Waldron
